In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# Make a reference to the books.csv file path
# Import the books.csv file as a DataFrame
%ls Resources/

books.csv

In [4]:
df = pd.read_csv('Resources/books.csv')
df.head(1)

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...

In [19]:
# Remove unecessary columns from the DataFrame and save the new DataFrame
keep = ["isbn", "original_publication_year", "original_title", "authors"]
# "ratings_1", "ratings_2", "ratings_3", "ratings_4", "ratings_5"
newdf = df[keep].copy()
newdf['has_jk_row'] = newdf['authors'].str.contains("Rowling")
newdf.head()

,isbn,original_publication_year,original_title,authors,has_jk_row
0,439023483,2008.0,The Hunger Games,Suzanne Collins,False
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",True
2,316015849,2005.0,Twilight,Stephenie Meyer,False
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,False
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,False

In [31]:
# Older than 2010 or newer than 2010 - new column telling me either case
def year_above_2010(pub_year):
    if pub_year >= 2010:
        return "gt2010"
    else:
        return "lt2010"
    
def split_string(original_title):
    return str(original_title).split()


# setting up new col   # taking existingn col --> row row row, takes value passes into 
newdf['year_case'] = newdf.original_publication_year.map(year_above_2010)
newdf['title_list'] = newdf.original_title.map(split_string)
newdf.head()

# new column from the data within an existing column
# BUT, I want the data from the existing col ----> FUNCTION -----> return a new value

# define a function, convert original title to a list of words, rather than the string format
# call the new col - title_list

,isbn,original_publication_year,original_title,authors,has_jk_row,lower_title,year_case,title_list
0,439023483,2008.0,The Hunger Games,Suzanne Collins,False,the hunger games,lt2010,"[The, Hunger, Games]"
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",True,harry potter and the philosopher's stone,lt2010,"[Harry, Potter, and, the, Philosopher's, Stone]"
2,316015849,2005.0,Twilight,Stephenie Meyer,False,twilight,lt2010,[Twilight]
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,False,to kill a mockingbird,lt2010,"[To, Kill, a, Mockingbird]"
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,False,the great gatsby,lt2010,"[The, Great, Gatsby]"

In [7]:
# Push the remade DataFrame to a new CSV file
newdf.to_csv('newdf.csv', index=False, header=True)

In [21]:
# books per publication year
newdf['lower_title'] = newdf.original_title.str.lower()
newdf.has_jk_row.value_counts()

False    9973
True       27
Name: has_jk_row, dtype: int64

In [22]:
newdf

,isbn,original_publication_year,original_title,authors,has_jk_row,lower_title
0,439023483,2008.0,The Hunger Games,Suzanne Collins,False,the hunger games
1,439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",True,harry potter and the philosopher's stone
2,316015849,2005.0,Twilight,Stephenie Meyer,False,twilight
3,61120081,1960.0,To Kill a Mockingbird,Harper Lee,False,to kill a mockingbird
4,743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,False,the great gatsby
5,525478817,2012.0,The Fault in Our Stars,John Green,False,the fault in our stars
6,618260307,1937.0,The Hobbit or There and Back Again,J.R.R. Tolkien,False,the hobbit or there and back again
7,316769177,1951.0,The Catcher in the Rye,J.D. Salinger,False,the catcher in the rye
8,1416524797,2000.0,Angels & Demons,Dan Brown,False,angels & demons
9,679783261,1813.0,Pride and Prejudice,Jane Austen,False,pride and prejudice
10,1594480001,2003.0,The Kite Runner,Khaled Hosseini,False,the kite runner
11,62024035,2011.0,Divergent,Veronica Roth,False,divergent
12,451524934,1949.0,Nineteen Eighty-Four,"George Orwell, Erich Fromm, Celâl Üster",False,nineteen eighty-four
13,452284244,1945.0,Animal Farm: A Fairy Story,George Orwell,False,animal farm: a fairy story
14,553296981,1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",False,het achterhuis: dagboekbrieven 14 juni 1942 - ...
15,307269752,2005.0,Män som hatar kvinnor,"Stieg Larsson, Reg Keeland",False,män som hatar kvinnor
16,439023491,2009.0,Catching Fire,Suzanne Collins,False,catching fire
17,043965548X,1999.0,Harry Potter and the Prisoner of Azkaban,"J.K. Rowling, Mary GrandPré, Rufus Beck",True,harry potter and the prisoner of azkaban
18,618346252,1954.0,The Fellowship of the Ring,J.R.R. Tolkien,False,the fellowship of the ring
19,439023513,2010.0,Mockingjay,Suzanne Collins,False,mockingjay
20,439358078,2003.0,Harry Potter and the Order of the Phoenix,"J.K. Rowling, Mary GrandPré",True,harry potter and the order of the phoenix
21,316166685,2002.0,The Lovely Bones,Alice Sebold,False,the lovely bones
22,439064864,1998.0,Harry Potter and the Chamber of Secrets,"J.K. Rowling, Mary GrandPré",True,harry potter and the chamber of secrets
23,439139600,2000.0,Harry Potter and the Goblet of Fire,"J.K. Rowling, Mary GrandPré",True,harry potter and the goblet of fire
24,545010225,2007.0,Harry Potter and the Deathly Hallows,"J.K. Rowling, Mary GrandPré",True,harry potter and the deathly hallows
25,307277674,2003.0,The Da Vinci Code,Dan Brown,False,the da vinci code
26,439785960,2005.0,Harry Potter and the Half-Blood Prince,"J.K. Rowling, Mary GrandPré",True,harry potter and the half-blood prince
27,140283331,1954.0,Lord of the Flies,William Golding,False,lord of the flies
28,743477111,1595.0,An Excellent conceited Tragedie of Romeo and J...,"William Shakespeare, Robert Jackson",False,an excellent conceited tragedie of romeo and j...
29,297859382,2012.0,Gone Girl,Gillian Flynn,False,gone girl
...,...,...,...,...,...,...
9970,NaN,2011.0,NaN,Melody Anne,False,NaN
9971,99282968,1999.0,Bagombo Snuff Box,Kurt Vonnegut Jr.,False,bagombo snuff box
9972,609805797,1999.0,The Seven Principles for Making Marriage Work:...,"John M. Gottman, Nan Silver",False,the seven principles for making marriage work:...
9973,553153382,1978.0,Anastasia Krupnik,Lois Lowry,False,anastasia krupnik
9974,1857236653,1985.0,The King Beyond the Gate,David Gemmell,False,the king beyond the gate
9975,778325806,2009.0,Sea Glass,Maria V. Snyder,False,sea glass
9976,804113475,1995.0,Ladder of Years,Anne Tyler,False,ladder of years
9977,679750150,1963.0,午後の曳航 [Gogo no eikō],"Yukio Mishima, John Nathan",False,午後の曳航 [gogo no eikō]
9978,312940661,1964.0,When the Lion Feeds,Wilbur Smith,False,when the lion feeds
9979,764200739,2006.0,The Measure of a Lady,Deeanne Gist,False,the measure of a lady
9980,739455834,2005.0,The Twelfth Card,Jeffery Deaver,False,the twelfth card
9981,385344422,2016.0,Feverborn,Karen Marie Moning,False,feverborn
9982,2849659266,2009.0,青の祓魔師 2,Kazue Kato,False,青の祓魔師 2
9983,140255087,1978.0,The Snow Leopard,Peter Matthiessen,False,the snow leopard
9984,425176932,2000.0,Tom Clancy's Net Force: Breaking Point,"Steve Perry, Tom Clancy, Steve Pieczenik",False,tom clancy's net force: breaking point
9985,310257689,2006.0,Night Light: A Restoration Novel,Terri Blackstock,False,night light: a restoration novel
9986,312651198,2010.0,Chasing The Night,Iris Johansen,False,chasing the night
9987,674017722,1971.0,A Theory of Justice,John Rawls,False,a theory of justice
9988,NaN,2012.0,Out of the Dark,Quinn Loftis,False,out of the dark
9989,140143912,1989.0,The Mambo Kings Play Songs of Love,Oscar Hijuelos,False,the mambo kings play songs of love
9990,385425139,1991.0,The Famished Road,Ben Okri,False,the famished road
9991,575113294,2012.0,The Red Knight,Miles Cameron,False,the red knight
9992,224079948,2008.0,The Time-Traveller's Guide to Medieval England...,Ian Mortimer,False,the time-traveller's guide to medieval england...
9993,810983559,2009.0,"The Everafter War (The Sisters Grimm, #7)","Michael Buckley, Peter Ferguson",False,"the everafter war (the sisters grimm, #7)"
9994,1416523723,1924.0,"Billy Budd, Sailor",Herman Melville,False,"billy budd, sailor"
9995,441019455,2010.0,Bayou Moon,Ilona Andrews,False,bayou moon
9996,067973371X,1990.0,Means of Ascent,Robert A. Caro,False,means of ascent
9997,039330762X,1977.0,The Mauritius Command,Patrick O'Brian,False,the mauritius command
9998,61711527,2011.0,Cinderella Ate My Daughter: Dispatches from th...,Peggy Orenstein,False,cinderella ate my daughter: dispatches from th...
9999,375700455,1998.0,The First World War,John Keegan,False,the first world war

In [32]:
%pwd

'/Users/jeff/du/UDEN201811DATA3/Week4_Pandas/Day1/Activities/10-Stu_GoodReads/Unsolved'

In [1]:
# avg change in profit or loss between months over the period
import csv

data = []

with open('/Users/jeff/du/UDEN201811DATA3/Week3/HW/Instructions/PyBank/Resources/budget_data.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        data.append(row)
        
# how can I track all my diffs

FileNotFoundError: [Errno 2] No such file or directory: '/Users/jeff/du/UDEN201811DATA3/Week3/HW/Instructions/PyBank/Resources/budget_data.csv'

In [46]:
pairs = []
for index, row in enumerate(data):
    try:
        pairs.append((row[1], data[index + 1][1]))
    except IndexError:
        pass

In [55]:
diffs = []

for pair in pairs[1:]: # iterating over list of tuples
    first, second = pair
    diff = int(second) - int(first)
    diffs.append(diff)

In [57]:
import numpy as np

In [58]:
np.mean(diffs)

-2315.1176470588234

In [59]:
df = pd.read_csv('/Users/jeff/du/UDEN201811DATA3/Week3/HW/Instructions/PyBank/Resources/budget_data.csv')

In [62]:
vals = df["Profit/Losses"]
combined = zip(vals, vals[1:])

In [63]:
for x, y in combined:
    print(x, y)

867884 984655
984655 322013
322013 -69417
-69417 310503
310503 522857
522857 1033096
1033096 604885
604885 -216386
-216386 477532
477532 893810
893810 -80353
-80353 779806
779806 -335203
-335203 697845
697845 793163
793163 485070
485070 584122
584122 62729
62729 668179
668179 899906
899906 834719
834719 132003
132003 309978
309978 -755566
-755566 1170593
1170593 252788
252788 1151518
1151518 817256
817256 570757
570757 506702
506702 -1022534
-1022534 475062
475062 779976
779976 144175
144175 542494
542494 359333
359333 321469
321469 67780
67780 471435
471435 565603
565603 872480
872480 789480
789480 999942
999942 -1196225
-1196225 268997
268997 -687986
-687986 1150461
1150461 682458
682458 617856
617856 824098
824098 581943
581943 132864
132864 448062
448062 689161
689161 800701
800701 1166643
1166643 947333
947333 578668
578668 988505
988505 1139715
1139715 1029471
1029471 687533
687533 -524626
-524626 158620
158620 87795
87795 423389
423389 840723
840723 568529
568529 332067
332067 989499
989499 778237
778237 650000
650000 -1100387
-1100387 -174946
-174946 757143
757143 445709
445709 712961
712961 -1163797
-1163797 569899
569899 768450
768450 102685
102685 795914
795914 60988
60988 138230
138230 671099

In [64]:
sentence = "I ran across the field"
# bigrams, (i ran), "ran across", "acros the", the field

In [65]:
words = sentence.split()

In [66]:
words

['I', 'ran', 'across', 'the', 'field']

In [67]:
list(zip(words, words[1:]))

[('I', 'ran'), ('ran', 'across'), ('across', 'the'), ('the', 'field')]